<app-toolbar></app-toolbar>
<app-content>
    <div class="title">
        <p>PROMOCIONES DE SERVICIOS Y REFACCIONES</p>
    </div>
    <mat-card class="example-card">
        <div class="grid">
            <div class="image">
                <img src="../../../assets/img/Página-en-mantenimiento-2.png" width="500">
            </div>
            <div class="texto">
                <h1>Prepárate para sorpresas emocionantes</h1>
                <h2>¡Mantente pendiente!</h2>
            </div>
        </div>
    </mat-card> 
    
</app-content>
