<app-toolbar></app-toolbar>
<app-content>
    <div class="title">
        <p>REFACCIONES ORIGINALES</p>
    </div>
    <mat-card class="example-card">
        <form (submit)="$event.preventDefault()">
            <div class="fields">
                <div class="subtitle">
                    <mat-list id="mat-list">
                        <mat-list-item>
                            <p>DETALLES DEL VEHÍCULO</p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </div>
                <div class="twoColumns">
                    <div class="anno">
                        <label>Año: </label>
                        <mat-form-field>
                            <mat-label>Ingrese el año del carro</mat-label>
                            <input matInput #input type="number" (input)="onInputChangeYear($event)" required>
                        </mat-form-field>
                    </div>
                    <div class="version">
                        <label>Versión: </label>
                        <mat-form-field>
                            <mat-label>Ingrese la versión</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="twoColumns">
                    <div class="marca">
                        <label>Marca: </label>
                        <mat-form-field>
                            <mat-label>Ingrese la marca</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                    <div class="modelo">
                        <label>Modelo: </label>
                        <mat-form-field>
                            <mat-label>Ingrese el modelo</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <label>Refacción requerida: </label>
                <mat-form-field class="example-full-width">
                    <mat-label>Deje su comentario</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <div class="subtitle">
                    <mat-list id="mat-list">
                        <mat-list-item>
                            <p>INFORMACIÓN PERSONAL</p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </div>
                <div class="twoColumns">
                    <div class="nombre">
                        <label>Nombre: </label>
                        <mat-form-field>
                            <mat-label>Ingrese su nombre</mat-label>
                            <input matInput #input [ngModel]="nombre" required>
                        </mat-form-field>
                    </div>
                    <div class="apellidos">
                        <label>Apellidos: </label>
                        <mat-form-field>
                            <mat-label>Ingrese sus apellidos</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="twoColumns">
                    <div class="correo">
                        <label>Correo Electrónico: </label>
                        <mat-form-field>
                            <mat-label>Ingresa tu correo electrónico</mat-label>
                            <input matInput placeholder="pat@example.com" required>
                        </mat-form-field>
                    </div>
                    <div class="telefono">
                        <label>Número de teléfono: </label>
                        <mat-form-field>
                            <mat-label>Ingrese su número de teléfono</mat-label>
                            <input matInput #input type="number" (input)="onInputChange($event)" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="threeColumns">
                    <div class="ciudad">
                        <label>Ciudad: </label>
                        <mat-form-field>
                            <mat-label>Ingresa tu ciudad</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                    <div class="estado">
                        <label>Estado: </label>
                        <mat-form-field>
                            <mat-label>Ingrese su estado</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                    <div class="cp">
                        <label>Código postal: </label>
                        <mat-form-field>
                            <mat-label>Ingrese su código postal</mat-label>
                            <input matInput #input type="number" (input)="onInputChangeCP($event)" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="submit">
                    <button id="submit" type="submit" mat-raised-button>Basic</button>
                </div>
            </div>
        </form>
    </mat-card> 
    
</app-content>
