p {
    margin-top: 0;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
}

mat-list-item {
    height: 20px;
}

mat-list-item p {
    color: black !important;
    margin-bottom: 0;
}

mat-divider {
    width: 210px;
    margin-left: 12px;
    border-top-color: #000000;
    border-top-width: 3px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fields {
    padding: 20px;
}

.three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.anno, .marca, .modelo, .version, .kilometraje {
    display: flex;
    flex-direction: column;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit {
    width: 30%;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}