<app-toolbar></app-toolbar>
<app-content>
    <div class="title">
        <p>SERVICIO CERTIFICADO</p>
    </div>
    <div class="subtitle">
        <mat-list>
            <mat-list-item>
                <h2>¡TU AUTO EN LAS MEJORES MANOS!</h2>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
    <div class="cont-uno">
        <div class="text">
            <h3>MANTENIMIENTO PROFESIONAL EN EL QUE PUEDES CONFIAR</h3>
        </div>
        <div class="tarjeta">
            <mat-card class="card">
                <p>Tu seguridad es lo más importante, por eso solo los mejores especialistas atenderán tu auto.</p>
                <p>Recuerda que, para mantener tu auto en óptimas codiciones, deberás llevarlo con regularidad a servicio de mantenimiento. Revisa la frecuencia en el manual de usuario, cada marca tiene especificaciones diferentes.</p>
                <p>Nuestro compromiso es:</p>
                <ul>
                    <li>Brindarte la mejor atención</li>
                    <li>Optimizar tus tiempos con un sistema de citas</li>
                    <li>Dar un servicio de excelencia con Técnicos Certificados</li>
                    <li>Cuidar tu salud al cumplir con todos los protocolos y un poco más</li>
                    <li>Usar solo partes originales</li>
                    <li>Garantizamos nuestro trabajo</li>
                </ul>
            </mat-card> 
        </div>
    </div>
    <div class="cont-dos">
        <div class="image">
            <img src="../../../assets/img/curso-en-mantenimiento-productivo-total-tpm.jpg" width="700">
        </div>
        <div class="tarjeta">
            <mat-card class="card">
                <h2>Tu seguridad es lo más importante, por eso solo los mejores especialistas atenderán tu auto.</h2>
                <h4>INCLUYENDO:</h4>
                <ul>
                    <li>Reparación general</li>
                    <li>Mantenimiento preventivo</li>
                    <li>Servicio de aire acondicionado</li>
                    <li>Reparación del sistema de enfríamiento y radiador</li>
                    <li>Cambio de aceite sintético de motor </li>
                    <li>Cambio de filtros de aceite</li>
                    <li>Reparación de frenos</li>
                    <li>Diagnóstico de motor</li>
                    <li>Afinación</li>
                    <li>Bandas, mangueras y fluidos</li>
                    <li>Filtros de aire</li>
                    <li>Alternadores</li>
                    <li>Baterías</li>
                    <li>Faros</li>
                    <li>Servicio de transmisión</li>
                    <li>Revisión y corrección de todos los niveles de fluidos</li>
                    <li>Hojalatería y pintura</li>
                </ul>
            </mat-card> 
        </div>
    </div>
    <div class="footer">
        <p>¡RECUERDA! SOLO CON EL MANTENIMIENTO EN DISTRIBUIDORES AUTORIZADOS DE LA MARCA CONSERVARÁS LA GRANTÍA DE TU VEHÍCULO</p>
    </div>
</app-content>
