<div class="toolbar" role="banner">
    <div class="logoNombre" (click)="path('home')">
      <img
        id="logo"
        width="110"
        alt="MOVILITO"
        src="../assets/img/logoIconoCopy.png"
      />
      <img
        id="logoNombre"
        alt="MOVILITO"
        src="../assets/img/logoNombewcopy.png"
      />
      <!-- <span>MOVILITO</span> -->
    </div>
    <div class="spacer"></div>
    <button id="topMenu" mat-button [matMenuTriggerFor]="newCar">Autos nuevos</button>
    <mat-menu #newCar="matMenu" xPosition="after">
      <button (click)="path('inventario-nuevos')" mat-menu-item>Inventario de autos nuevos</button>
      <button (click)="path('nuestras-marcas')" mat-menu-item>Nuestras Marcas</button>
      <button (click)="path('prueba-manejo')" mat-menu-item>Agenda tu prueba de manejo</button>
      <button (click)="path('cotizacion')" mat-menu-item>Solicita una cotización</button>
      <button (click)="path('auto-cuenta')" mat-menu-item>Tomamos tu auto a cuenta</button>
    </mat-menu>
    <button id="topMenu" mat-button [matMenuTriggerFor]="semiNewCar">Seminuevos</button>
    <mat-menu #semiNewCar="matMenu" xPosition="after">
      <button (click)="path('inventario')" mat-menu-item>Inventario de autos seminuevos</button>
      <button (click)="path('prueba-manejo-seminuevos')" mat-menu-item>Agenda tu prueba de manejo</button>
      <button (click)="path('cotizacion-seminuevos')" mat-menu-item>Solicita una cotización</button>
      <button (click)="path('auto-cuenta-seminuevos')" mat-menu-item>Tomamos tu auto a cuenta</button>
    </mat-menu>
    <button id="topMenu" mat-button [matMenuTriggerFor]="promociones">Promociones</button>
    <mat-menu #promociones="matMenu" xPosition="after">
      <button (click)="path('promocion-nuevos')" mat-menu-item>Promociones de autos nuevos</button>
      <button (click)="path('promocion-seminuevos')" mat-menu-item>Promociones de seminuevos</button>
      <button (click)="path('promocion-servicios')" mat-menu-item>Promociones de servicio</button>
    </mat-menu>
    <button id="topMenu" mat-button [matMenuTriggerFor]="services">Servicios y refacciones</button>
    <mat-menu #services="matMenu" xPosition="after">
      <button (click)="path('post-venta')" mat-menu-item>Departamento de Post-Venta</button>
      <button (click)="path('refacciones-originales')" mat-menu-item>Refacciones originales</button>
    </mat-menu>
    <button id="topMenu" mat-button [matMenuTriggerFor]="financiamiento">Financiamiento</button>
    <mat-menu #financiamiento="matMenu" xPosition="after">
      <button (click)="path('departamento-ventas')" mat-menu-item>Departamento de Ventas</button>
      <button (click)="path('aprobacion-credito')" mat-menu-item>Pre-Aprobación de crédito</button>
    </mat-menu>
    <button id="topMenu" mat-button>Nosotros</button>
    <button id="topMenu" mat-button>Blog</button>
</div>