.slider {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.slide {
    width: 900px;
}

#map {
    height: 100%;
    width: 70%;
    margin-left: 15%;
}
  
#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

.aux {
    padding-top: 50px;
    height: 500px;
    width: 100%;
}

.pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
}

#pac-container {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 12px;
}

#pac-input {
    background-color: #fff;
    border-radius: 25px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #da1212;
    background-color: #1B1A1F;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
